<div class="home">
	<div class="container col-lg-7 pull-right">
		<h2 class="blanco">{{title}}</h2>
		<div class="form-group">
			<input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
				class="form-control" #search>
		</div>
		<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
			<agm-marker [latitude]="latitude" [longitude]="longitude">
			</agm-marker>
		</agm-map>
		<div class="form-group">
			<label class="blanco">Fecha de entrada.</label>
			<input type="date" name="fromDate" class="form-control">
		</div>
		<div class="form-group">
			<label class="blanco">Fecha de salida.</label>
			<input type="date" name="fromDate" class="form-control">
		</div>
		<button class="btn btn-success pull-right" [routerLink]="['/gente',1 , latitude, longitude]">
			<span class="glyphicon glyphicon glyphicon-search"></span>
			Buscar
		</button>
	</div>
</div>