<div class="col-lg-10">
    <h3>{{title}}</h3>

    <div class="people" *ngIf="appointments">
        <div *ngFor="let appointment of appointments" class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{urlUser+'getImageFile/'+appointment.toUser.image}}"
                                *ngIf="appointment.toUser.image">
                            <img src="{{urlUser+'getImageFile/'+appointment.toUser.default}}"
                                *ngIf="!appointment.toUser.image">
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <span class="span-gray">Cita con: </span>
                            <a [routerLink]="['/profile',appointment.toUser.id]">
                                {{appointment.toUser.name}}
                            </a>
                            |
                            <span class="span-gray">Del: </span>
                            <span> {{ appointment.fromDate }} </span>
                            <span class="span-gray"> Hasta: </span>
                            <span> {{ appointment.toDate }}</span>
                        </p>
                        <button class="btn btn-success" [routerLink]="['/mensajes/enviar',appointment.toUser.id]"
                            *ngIf="follows.indexOf(appointment.toUser.id) >= 0">
                            <span class="glyphicon glyphicon glyphicon-envelope"></span>
                            Enviar mensaje a {{appointment.toUser.name}}
                        </button>
                    </div>
                    <div class="pull-right">
                        <p>
                            <span class="label label-default pull-right" *ngIf="appointment.status==1">ENVIADA</span>
                            <span class="label label-success pull-right" *ngIf="appointment.status==2">ACEPTADA</span>
                            <span class="label label-danger pull-right" *ngIf="appointment.status==3">RECHAZADA</span>
                        </p>
                        <br>
                        <!-- Button HTML (to Trigger Modal) -->
                        <a href="#myModal{{appointment.id}}" role="button" class="btn btn-large btn-danger"
                            data-toggle="modal" *ngIf="appointment.status!=3">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                        <!-- Modal HTML -->
                        <div id="myModal{{appointment.id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">¿Seguro que deseas cancelar la cita?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>La cita quedara definitivamente cancelada</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            (click)="deleteAppointment(appointment.id)">Cancelar
                                            cita</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"><a [routerLink]="['/citas/enviadas', prev_page]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/citas/enviadas', next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>