<div class="col-lg-8">
    <h1 class="h1-strong" *ngIf="user">{{title}} {{user.name}}</h1>

    <div class="people" *ngIf="following">
        <div *ngFor="let follow of following" class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{follow.type}}</h3>
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{url+'getImageFile/'+follow.followed.image}}" *ngIf="follow.followed.image">
                            <img src="{{url+'getImageFile/'+follow.followed.default}}" *ngIf="!follow.followed.image">
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a [routerLink]="['/profile',follow.followed.id]">
                                {{follow.followed.name}}
                            </a>
                        </p>
                        <p class="nickname">{{follow.followed.email}}</p>
                        <star-rating [starType]="'svg'" [disabled]="true" [rating]="follow.followed.rating"></star-rating>
                    </div>
                    <div class="user-name">
                        <p class="name-surname">
                            <a href="#">
                                {{follow.followed.description}}
                            </a>
                        </p>
                    </div>
                    <div class="pull-right" *ngIf="follow.followed.id!=identity.id">
                        <button class="btn btn-success" *ngIf="follows.indexOf(follow.followed.id) < 0" (click)="followUser(follow.followed.id)">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Seguir
                        </button>

                        <button class="btn btn-primary" *ngIf="follows.indexOf(follow.followed.id) >= 0" (mouseenter)="mouseEnter(follow.followed.id)"
                            (mouseleave)="mouseLeave()" [class.btn-danger]="follow.followed.id==followUserOver" (click)="unfollowUser(follow.followed.id)">
                            <span *ngIf="follow.followed.id==followUserOver; else following">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                Dejar de seguir
                            </span>
                            <ng-template #following>
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                Siguiendo
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"><a [routerLink]="['/siguiendo', user_id, prev_page]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/siguiendo', user_id, next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>
<sidebar></sidebar>
<div class="clearfix"></div>