<div class="col-lg-10">
    <h3>{{title}}</h3>

    <div class="people" *ngIf="appointments">
        <div *ngFor="let appointment of appointments" class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{urlUser+'getImageFile/'+appointment.fromUser.image}}"
                                *ngIf="appointment.fromUser.image">
                            <img src="{{urlUser+'getImageFile/'+appointment.fromUser.default}}"
                                *ngIf="!appointment.fromUser.image">
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <span class="span-gray">Cita con: </span>
                            <a [routerLink]="['/profile',appointment.fromUser.id]">
                                {{appointment.fromUser.name}}
                            </a>
                            |
                            <span class="span-gray">Del: </span>
                            <span> {{ appointment.fromDate }} </span>
                            <span class="span-gray"> Hasta: </span>
                            <span> {{ appointment.toDate }}</span>
                        </p>
                        <button class="btn btn-success" [routerLink]="['/mensajes/enviar',appointment.fromUser.id]"
                            *ngIf="follows.indexOf(appointment.fromUser.id) >= 0">
                            <span class="glyphicon glyphicon glyphicon-calendar"></span>
                            Enviar mensaje a {{appointment.fromUser.name}}
                        </button>
                        &nbsp;
                    </div>
                    <div class="pull-right">
                        <p>
                            <span class="label label-default">Status {{appointment.status}}</span>
                        </p>
                        <label class="switch switch_type1" role="switch">
                            <input type="checkbox" class="switch__toggle"
                            (change)="changeAppointmentStatus(appointment.status, appointment.id)"
                            [checked]="appointment.status==2?true:false">
                            <span class="switch__label"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"><a [routerLink]="['/citas/enviadas', prev_page]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/citas/enviadas', next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>