<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="people">

        <div *ngFor="let user of users" class="item-user">
            <div class="panel panel-default" *ngIf="user.id!=identity.id">
                <div class="panel-heading">
                    <h3>
                        <p class="name-surname">
                            <a [routerLink]="['/profile',user.id]">
                                {{user.name}}
                            </a>
                        </p>
                    </h3>
                    <div class="pull-right">
                        <button class="btn btn-warning" [routerLink]="['/citas/enviar',user.id]">
                            <span class="glyphicon glyphicon glyphicon-calendar"></span>
                            Crear cita con {{user.name}}
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <!--SEGUIR DEGAR DE SEGUIR-->
                    <div class="pull-right">
                        <button class="btn btn-success" *ngIf="follows.indexOf(user.id) < 0"
                            (click)="followUser(user.id)">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Seguir
                        </button>

                        <button class="btn btn-primary" *ngIf="follows.indexOf(user.id) >= 0"
                            (mouseenter)="mouseEnter(user.id)" (mouseleave)="mouseLeave()"
                            [class.btn-danger]="user.id==followUserOver" (click)="unfollowUser(user.id)">
                            <span *ngIf="user.id==followUserOver; else following">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                Dejar de seguir
                            </span>
                            <ng-template #following>
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                Siguiendo
                            </ng-template>
                        </button>
                    </div>
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{url+'getImageFile/'+user.image}}" *ngIf="user.image">
                            <img src="{{url+'getImageFile/'+user.default}}" *ngIf="!user.image">
                        </a>
                    </div>
                    <div class="user-name pull-left">

                        <button class="btn btn-success" [routerLink]="['/mensajes/enviar',user.id]"
                            *ngIf="follows.indexOf(user.id) >= 0">
                            <span class="glyphicon glyphicon glyphicon-calendar"></span>
                            Enviar mensaje a {{user.name}}
                        </button>
                        <br>
                        <br>
                        <div>{{user.address}}</div>
                        <br>
                        <star-rating [starType]="'svg'" [rating]="user.rating" [disabled]="true" class="pull-left">
                        </star-rating>
                        <br>
                        <br>
                        <div class="nickname pull-left">{{user.description}}</div>
                        <div class="map pull-right">
                            <agm-map [latitude]="splitAddress(user.coordinates,0)"
                                [longitude]="splitAddress(user.coordinates,1)" [zoom]="zoom">
                                <agm-marker [latitude]="splitAddress(user.coordinates,0)"
                                    [longitude]="splitAddress(user.coordinates,1)"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination pull-right">
            <li *ngIf="page > 1"><a [routerLink]="['/gente', prev_page]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/gente', next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>
<sidebar></sidebar>
<div class="clearfix"></div>