<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="people">
        <div *ngFor="let user of users" class="item-user">
            <div class="panel panel-default" *ngIf="user.id!=identity.id">
                <div class="panel-body">
                    <h3>{{user.type}}</h3>
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{url+'getImageFile/'+user.image}}" *ngIf="user.image">
                            <img src="{{url+'getImageFile/'+user.default}}" *ngIf="!user.image">
                        </a>
                    </div>
                    <div class="user-name pull-left">
                        <p class="name-surname">
                            <a [routerLink]="['/profile',user.id]">
                                {{user.name}}
                            </a>
                        </p>
                        <p class="nickname">{{user.email}}</p>
                        <star-rating 
                            [starType]="'svg'" 
                            [rating]="user.rating" 
                            [hoverEnabled]="true" 
                            (starClickChange)="onClick($event)"
                            (ratingChange)="onRatingChange($event)" 
                            (hoverRatingChange)="onHoverRatingChange($event)">
                        </star-rating>
                    </div>
                    <div class="user-name">
                        <p class="name-surname">
                            <a href="#">
                                {{user.description}}
                            </a>
                        </p>
                    </div>
                    <!--SEGUIR DEGAR DE SEGUIR-->
                    <div class="pull-right">
                        <button class="btn btn-success" *ngIf="follows.indexOf(user.id) < 0" (click)="followUser(user.id)">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Seguir
                        </button>

                        <button class="btn btn-primary" *ngIf="follows.indexOf(user.id) >= 0" (mouseenter)="mouseEnter(user.id)"
                            (mouseleave)="mouseLeave()" [class.btn-danger]="user.id==followUserOver" (click)="unfollowUser(user.id)">
                            <span *ngIf="user.id==followUserOver; else following">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                Dejar de seguir
                            </span>
                            <ng-template #following>
                                <span class="glyphicon glyphicon-ok-sign"></span>
                                Siguiendo
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"><a [routerLink]="['/gente', prev_page]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/gente', next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>
<sidebar></sidebar>
<div class="clearfix"></div>